button{
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 40px;
    border: 0;

    font-size: 1rem;
    font-weight:bold ;
    color: white;
    text-transform: uppercase;

    width: fit-content;
    height: fit-content;
    padding: .6rem 2.3rem;

    box-sizing: border-box;

    cursor: pointer;
}

@media (min-width: 700px) and (orientation: landscape){
    button{
        font-size: 1rem;
        padding: .8rem 2.5rem;
    }
}

button a{
    color: white;
}

/*Primary*/
.primaryButton{
    background-color: rgba(0, 47, 177, 1);
}

    .primaryButton:hover{
        background-color: rgb(8, 59, 197);
    }

.primaryButton2{
    background-color: rgba(17, 78, 247, 1);                                              
}

    .primaryButton2:hover{
        background-color: rgb(33, 89, 243);
    }

.primaryButton3{
    background-color: rgba(0, 24, 90, 1);
}

    .primaryButton3:hover{
        background-color: rgb(4, 31, 105);
    }

.primaryButton4{
    background-color: rgb(81, 81, 81);
}

    .primaryButton4:hover{
        background-color: rgb(60, 60, 60);
    }

.primaryButtonOff{
    background-color: rgba(184, 184, 184, 1);
}


/*Secondary*/
.secondaryButton{
    background: linear-gradient(15deg, rgba(17, 78, 247), rgb(2, 212, 225));
}

    .secondaryButton:hover{
        background: linear-gradient(195deg, rgba(17, 78, 247), 70%, rgb(2, 212, 225));
    }

.secondaryButton2{
    background-color: rgba(0, 47, 177, 1);
}

    .secondaryButton2:hover{
        background-color: rgb(8, 59, 197);
    }

.secondaryButtonOff{
    background: linear-gradient(90deg, rgba(200, 200, 200, 1), rgba(227, 227, 227, 1));
}
